@using System.Text
@page "/guessthesongname"

<h3>熊猫堂二专先行曲歌名竞猜</h3>
<p>测试我的歌名</p>
<input @bind=@_testName/>
<p>@_actualName</p>
<p>@_actualNameBytes</p>
<p>@_testName</p>

@code {
    private string? _actualName;
    private string? _actualNameBytes;
    private string? _testName;

    protected override Task OnInitializedAsync()
    {
        _actualName = "这只是一个十五个字的测试歌曲名";
        _actualNameBytes = string.Join(", ", GetBytesFromString(_actualName));
        return base.OnInitializedAsync();
    }

    private byte[] GetBytesFromString(string s)
    {
        return Encoding.Unicode.GetBytes(s);
    }

}
